/* Typographie (Eléments principaux de la page) */

body
{
    background-color: #FFFFFF;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}

/* Header (entête) */

/* Content (corps de la page) */

/* Responsive design (adaptation a l'écran)*/