/* Typographie (Eléments principaux de la page) */

h1
{
    color: black
}
/* Global */

body
{
    background-color: #FFFFFF;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Header (entête) */

.titre_principal
{
  color: #FDD835  
}


/* Content (corps de la page) */

#bloc_page
{
    padding: 60px;
    width: 100%;
}

section
{
    display: flex;  
    flex: 2;
}

article
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.yellow
{
    color:#FDD835;
}

.ligne_cv
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ligne_cv h3
{
    margin-top: 0;
}


.titre_secondaire
{
    border-bottom: 2px solid #FDD835;
}

/* aside */

aside
{
    background-color: #FDD835;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    padding-top: 15px;
    flex: 1,2;
    position: left;
}

aside #photo_cv {
    text-align: center;
}

aside h2
{
    color: #FDD835;
    background-color: #212121;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    padding: 15px;
    text-transform: uppercase;
    text-align: center;
}

aside p {
    padding: 0 20px;
}

aside img
{
    margin-right: 5px;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.black
{
    max-width: 100%;
    height: auto;
    font-size: 50px;
    margin: 20px;
}


/* Responsive design (adaptation a l'écran)*/
@media all and (max-width: 1024px)
{
    #bloc_page
    {
        width: auto;
    }
}