/* Typographie (Eléments principaux de la page) */



/* Header (entête) */

.titre_principal
{
  color: #FDD835  
}
h1
{
    color: black
}

/* Content (corps de la page) */
section
{
    display: flex;  
    flex: 2;
}

article
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px;
}
body
{
    background-color: #FFFFFF;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
    margin: 5%;
    padding: 15px;
    display: flex;
}
.titre_secondaire
{
    text-decoration: underline;
    text-decoration-color: #FDD835;
}

aside
{
    background-color: #FDD835;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    margin: 5%;
    padding: 15px;
    flex: 1,2;
    position: left;
}

aside h2
{
    color: #FDD835;
    background-color: #212121;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    margin: 5%;
    padding: 15px;
}

aside img
{
    margin-right: 5px;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.black
{
    max-width: 100%;
	height: auto;
}

.yellow
{
    color:#FDD835;
}
/* Responsive design (adaptation a l'écran)*/
@media all and (max-width: 1024px)
{
    #bloc_page
    {
        width: auto;
    }
}